<!--<div class="container">-->
    <!--<br>-->
    <!--<h1>Корзина</h1>-->

    <!--<table class="table table-hover">-->
        <!--<thead class="thead-dark">-->
        <!--<tr>-->
            <!--<th>№</th>-->
            <!--<th>Название товара</th>-->
            <!--<th>Цена за ед.</th>-->
            <!--<th>Кол-во</th>-->
            <!--<th>Сумма</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr th:each="cartItem,itrStat : ${cart}">-->
            <!--<td th:text="${itrStat.index+1}"/>-->
            <!--<td th:text="${cartItem.product.title}"/>-->
            <!--<td th:text="${cartItem.itemPrice}"/>-->
            <!--<td th:text="${cartItem.quantity}"/>-->
            <!--<td th:text="${cartItem.totalPrice}"/>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td/><td/><td/>-->
            <!--<td>Итого заказ:</td>-->
            <!--<td th:text="${total}"/>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
<!--</div>-->